.CreateTournament {
  display: flex;
}

.CreateTournament .Card {
  padding: 1rem;
  width: 100%;
}

.CreateTournament {
  color: #ebebeb;
  width: 35vh;
}

.CreateTournamentInner h2 {
  text-align: left;
}
