* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 45, 52, 1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 200px;
  margin: 5px;
}

h1 {
  color: #ebebeb;
}

h2 {
  margin-top: 0;
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #ebebeb;
}

button {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0.5rem;
  background-color: rgba(42, 45, 52, 1);
  border-radius: 2px;
  border: 1px solid #ebebeb;
  color: #ebebeb;
  outline: none;
  transition: color 0.5s ease, background-color 0.5s ease;
}

button:hover {
  background-color: #ebebeb;
  color: rgba(42, 45, 52, 1);
}

input[type="submit"] {
  transition: all 0.5s ease;
  background-color: rgba(42, 45, 52, 1);
  color: #ebebeb;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #ebebeb;
  color: rgba(42, 45, 52, 1);
}

input,
textarea {
  width: 100%;
  padding: 10px 15px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #fff;
  background: rgba(42, 45, 52, 1);
  border: 1px solid #ebebeb;
  border-radius: 0.5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  outline: 0;
  margin: 0.2rem 0;
}

input:focus,
textarea:focus {
  border-color: #fff;
}

textarea {
  resize: none;
  height: 100px;
}

form {
  width: 220px;
}

.Page {
  width: 100%;
  height: 100%;
}

span {
  color: #ebebeb;
}
