.Register {
  display: flex;
  background-color: rgba(42, 45, 52, 1);
  padding: 5rem 1rem 1rem 1rem;
  justify-content: center;
}

.Register h2 {
  color: #ebebeb;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ebebeb;
}

.RegisterForm span {
  align-self: flex-start;
}
